<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=288, initial-scale=1.0">
  <title>4x6 PDF Label Generator</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1>6X4 PDF Label Generator</h1>
    <form id="labelForm">
      <label for="templateSize" >Template Size:</label>
      <select id="templateSize" name="templateSize" style="margin-bottom: 10px;" required>
        <option value="">Select...</option>
        <option value="Big Labels">Big Labels</option>
        <option value="Small Labels">Small Labels</option>
      </select>
      <div id="bigLabelFields" style="display:none;">
        <div id="bigLabelsContainer">
          <div class="big-label-set">
            <label for="title">Title:</label>
            <input type="text" class="title" name="title" maxlength="50" required>
            <label for="description">Short Description:</label>
            <input type="text" class="description" name="description" maxlength="100" required>
          </div>
        </div>
        <button type="button" id="addBigLabelBtn">+ Add Label</button>
      </div>
      <div id="smallLabelFields" style="display:none;">
        <div id="labelsContainer">
          <label>Label 1:</label>
          <input type="text" name="labels" maxlength="30" required>
        </div>
        <button type="button" id="addLabelBtn">+ Add Label</button>
      </div>
      <button type="submit" id="generateBtn">Generate PDF</button>
    </form>
    <div id="errorMsg"></div>
  </div>
  <script src="/main.js"></script>
</body>
</html> 